.tarea__contenedor {
    width: 100%;
    min-height: 65px;
    background-color: #1b1b32;
    margin: 5px 0;
    padding: 8px 15px 8px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    border: 1px solid white;
    cursor: pointer;
}

.tarea__contenedor:nth-child(3n+1) {
    background-color: #1b1b32;
}
.tarea__contenedor:nth-child(3n+2) {
    background-color: #2a2a40;
}
.tarea__contenedor:nth-child(3n+3) {
    background-color: #3b3b4f;
}

.tarea__completada {
    background-color: rgb(42, 3, 79) !important;
    text-decoration: line-through;
    color: white;
}

.tarea__texto {
    width: 100%;
    font-size: 16px;
    display: flex;
    align-items: center;
    overflow-wrap: anywhere;
}

.tarea__icono {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}